<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MascotaFeliz.App.Frontend</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="~/css/estilos.css">
</head>

<body>
    <header>
        <div class="cabecera">
            <a href="/Index">
                <h1> Mascota Feliz</h1>
            </a>
        </div>
        <div class="navegacion">
            <input type="checkbox" name="" id="check__navegacion">
            <label for="check__navegacion" class="label__navegacion">

            </label>
            <nav>
                <ul>
                    <li><a href="/Index">Inicio</a></li>
                    <li><a href="#">Mascota</a>
                        <ul>
                            <li><a href="/Mascotas/AgregarMascotas">Agregar Mascota</a></li>
                            <li><a href="/Mascotas/ListarMascotas">Listar Mascotas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Dueño</a>
                        <ul>
                            <li><a href="/Duenos/AgregarDueno">Agregar Dueño</a></li>
                            <li><a href="/Duenos/ListarDuenos">Listar Dueño</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Veterinario</a>
                        <ul>
                            <li><a href="/Veterinarios/AgregarVeterinario">Agregar Veterinario</a></li>
                            <li><a href="/Veterinarios/ListarVeterinarios">Listar Veterinarios</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Visita</a>
                    <li><a href="#">Historia</a>
                        <ul>
                            <li><a href="/Historia/ConsultarHistoria">Consultar Historia</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer contenedor">
        <h3>
            <p> Todos los derechos reservados Grupo 4 MisionTic 2022 </p>
        </h3>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
