@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="contenedor sombra">
        <div class="titulo">
            <img class="titulo__imagen" src= "@Url.Content("~/img/huella.svg")" alt="Huella">
            <h2>Bienvenido a Mascota Feliz SYS</h2>
            <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
        </div>
       
        <p class="main__texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo libero, fugiat quo necessitatibus ea enim
            magnam vel! Necessitatibus quae ut nisi omnis! Laboriosam, repudiandae! Delectus aspernatur facilis repellat
            quaerat atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quia vitae ullam nemo possimus
            commodi minus ipsa sunt suscipit, velit, alias, quam necessitatibus exercitationem natus reiciendis non
            dolore laborum quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dolore laboriosam amet
            cum officiis quos perferendis dolorem quibusdam itaque vitae suscipit sapiente, non aliquid. Minima
            blanditiis ut repellendus voluptatem praesentium.
        </p>
        <div class="main__imagen">
            <img src="@Url.Content("~/img/cats.png")" alt="Imagen de bienvenida">
        </div>
    </main>
